<div class="post">
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/avatars/av-3.png">
    </ion-avatar>
    <ion-label>
      <h3>{{post.user.name}}</h3>
      <h5>{{post.user.email}}</h5>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" name="heart-outline"></ion-icon>
    <ion-icon slot="end" name="bookmark-outline"></ion-icon>
  </ion-item>


  <!-- ngIf imgs.... -->
  <ion-slides pager="true" *ngIf="post.imgs.length > 1">

    <ion-slide *ngFor="let img of post.imgs" class="image-slide"
      [style]=" (img | imagen: post.user._id ) | domSanitizer ">
    </ion-slide>

  </ion-slides>

  <ion-slides *ngIf="post.imgs.length === 1" [options]="slideSoloOpts">

    <!-- <ion-slide class="image-slide"
             [style]=" (post.imgs[0] | imagen: post.user._id ) | domSanitizer ">
  </ion-slide> -->

    <ion-slide class="image-slide" 
    [style.background-image]="(img | imagen: post.user._id)  | domSanitizer">
    </ion-slide>

  </ion-slides>

  <!-- Images -->
  <!-- <ion-slides pager="true" *ngIf="post.imgs.length > 1">
    <ion-slide *ngFor="let img of posts.imgs" class="image-slide" [style]="(img | imagen:post.user._id) | domSanitizer">
    </ion-slide>
  </ion-slides>

  <ion-slides *ngIf="post.imgs.length === 1">
    <ion-slide class="image-slide" 
              [style]="(post.imgs[0] | imagen: post.user._id) | domSanitizer">
    </ion-slide>
    
  </ion-slides> -->

  <!-- <ion-slides *ngIf="post.imgs.length === 1">
    <ion-slide class="image-slide" [style.background-image]="(img | imagen: post.user._id) | domSanitizer">
    </ion-slide>
  </ion-slides> -->



  <!-- <ion-slides pager= "true">
    <ion-slide class="image-slide" [style]="img1" >
    </ion-slide>
  </ion-slides> -->

  <!-- <ion-slides pager= "true">
    <ion-slide class="image-slide" style="background-image: url('/assets/perro-1.jpg')"></ion-slide>
  </ion-slides> -->

  <!-- <ion-slides pager= "true">
    <ion-slide class="image-slide" style="background-image: url('http://192.168.1.67:3000/api/post/file/pi9r4abkazvzfyi.jpg')"></ion-slide>
  </ion-slides>
   -->

  <!-- <ion-list>
     <ion-item>
       <img [src]="(post.imgs[0] | imagen: post.user._id) | domSanitizer">
       <ion-img [src]="(post.imgs[0] | imagen: post.user._id) | domSanitizer"></ion-img>
     </ion-item>
   </ion-list> -->







  <!-- Mapa -->
  <app-map *ngIf="post.coordenadas" [coordenadas]="post.coordenadas"></app-map>


  <ion-item>
    <ion-label text-wrap>
      {{post.message}}
    </ion-label>
  </ion-item>

</div>